<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Leader Board</title>
</head>
<body>
<div>
  <table>
    <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Score</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="score: ${scores}">
      <td th:text="${score.id}">0</td>
      <td th:text="${score.title}">标题</td>
      <td th:text="${score.score}">0</td>
    </tr>
    </tbody>
  </table>
</div>
<script>
</script>
</body>
</html>
